[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matrix-nio = {extras = ["e2e"], version = "*"}
pyyaml = "*"

[dev-packages]
flake8 = "*"
black = "*"

[requires]
python_version = "3.12"
